<div class="span-24">
	<div id="spacer">
	</div>

<div id="wall"><!-- 3D Wall Goes Here --></div>
<div id="spacer">
</div>

<script>
var flashvars = {
    feed: "api%3A%2F%2Fpicasaweb.google.com%2F%3Fuser%3Demptyspaceorchestra%26album%3Dposters"
};
var params = {
    allowscriptaccess: "always"
};

swfobject.embedSWF("http://apps.cooliris.com/embed/cooliris.swf",
                   "wall", "950", "550", "9.0.0", "", 
                   flashvars, params);

</script>
</div>