<div class="span-22 prepend-1 append-1">

<div id="wall"><!-- 3D Wall Goes Here --></div>
</div>
<script>
var flashvars = {
    feed: "api://www.flickr.com/"
};
var params = {
    allowscriptaccess: "always"
};

swfobject.embedSWF("http://apps.cooliris.com/embed/cooliris.swf",
                   "wall", "871", "550", "9.0.0", "", 
                   flashvars, params);

</script>