<div class="span-22 prepend-1 append-1">
<div id="spacer">
</div>
	<div id="showlinks">
		<span class="orange">Thanks for signing up!</span><br />
		You'll be emailed about upcoming shows, free merchandise, and more.<br />
		-Empty Space Orchestra<br />
	</div>
	<div id="spacer">

</div>
</div>