<div id="footer">	
	<span class="book">Contact:</span> <%= link_to 'Info@emptyspaceorchestra.com', 'mailto:Info@EmptySpaceOrchestra.com' %>&nbsp;  | &nbsp; <%= link_to 'Booking@emptyspaceorchestra', 'mailto:Booking@EmptySpaceOrchestra.com' %>

	<br />
</div>
<%= image_tag 'sub_banner2.jpg' %>



